<nav><a href="/">Categories</a> > <a href="/categories/<%= @category_id %>"><%= @category_title %></a></nav>
<div class="container">

  <h3>Success!</h3>
  <p>Your post has been created in <%= @category_title %>. Please retain this page in order to edit or delete your post.</p>

  <p>Post information:</p>

  <p class="bold"><%= @post_title %></p>
  <p><%= @post_body %></p>
  <p class="small thin"><%= @post_location %></p>
  <% unless @post_price.nil? %>
    <p class="smaller thin">$<%= @post_price %></p>
  <% end %>

  <h5>Delete Post:</h5>

  <form action="/delete/<%= @category_id %>/<%= @post_id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Post">
  </form>

  <h5>Update Post:</h5>

  <form action="/update/<%= @category_id %>/<%= @post_id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label>Title:</label>
    <input type="text" name="title">
    <br>
    <label>Body:</label>
    <textarea name="body"></textarea>
    <br>
    <label>Location:</label>
    <input type="text" name="location">
    <br>

    <% unless @category_title == "Personals" %>

    <label>Price:</label>
    <input type="number" name="price">
    <br>

    <% end %>

    <label></label>
    <input type="submit" value="Update Post">

  </form>

</div>