<nav><a href="/">Categories</a> > <a href="/categories/<%= @category_id %>"><%= @category_title %></a></nav>
<div class="container">

  <h3>Success!</h3>
  <p>Your post has been created in <%= @category_title %>. Please retain this page in order to edit or delete your post.</p>

  <p>Post information:</p>

  <div class="post_info">
    <p class="bold"><%= @post.title %></p>
    <p><%= @post.body %></p>
    <p class="small thin"><%= @post.location %></p>
    <% unless @post_price.nil? %>
      <p class="smaller thin">$<%= @post.price %></p>
    <% end %>
  </div>

  <h5>Delete Post:</h5>

  <form action="/delete/<%= @category_id %>/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Post">
  </form>

  <h5>Update Post:</h5>

  <form action="/update/<%= @category_id %>/<%= @post_id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label>Title:</label>
    <input type="text" name="title" value="<%= @post.title %>">
    <br>
    <label>Body:</label>
    <textarea name="body"><%= @post.body %></textarea>
    <br>
    <label>Location:</label>
    <input type="text" name="location" value="<%= @post.location %>">
    <br>

    <% unless @category_title == "Personals" %>

    <label>Price:</label>
    <input type="number" name="price">
    <br>

    <% end %>

    <label></label>
    <input type="submit" value="Update Post">

  </form>

</div>