<nav><a href="/">Categories</a></nav>
<div class="container">

  <h3>Add a new post in <%= @category_title %>:</h3>

    <form action="/postings/create/new/<%= @category_id %>/<%= @last_post %>" method="post">
      <label>Title:</label>
      <input type="text" name="posting[title]">
      <br>
      <label>Body:</label>
      <textarea name="posting[body]"></textarea>
      <br>

      <input type="submit" class="button" value="Create Post">
    </form>

  <h3>Postings in <%= @category_title %>:</h3>

  <ul class="bold">
    <% unless post_exists? %>
      <% @postings.each do |post| %>
        <li><a href="/postings/<%= @category_id %>/<%= post.id %>"><%= post.title %></a></li>
      <% end %>
    <% else %>
      <li>There are no posts to display.</li>
    <% end %>
  </ul>

</div>