<nav><a href="/">Categories</a> > <a href="/categories/<%= @category_id %>"><%= @category_title %></a></nav>
<div class="container">

  <h3>Add a new post in <%= @category_title %>:</h3>

    <form action="/postings/create/new/<%= @category_id %>" method="post">
      <label>Title:</label>
      <input type="text" name="posting[title]">
      <br>
      <label>Body:</label>
      <textarea name="posting[body]"></textarea>
      <br>
      <label>Location:</label>
      <input type="text" name="posting[location]">
      <br>

      <% unless @category_title == "Personals" %>

      <label>Price:</label>
      <input type="number" name="posting[price]">
      <br>

      <% end %>

      <label></label>
      <input type="submit" value="Create Post">
    </form>

  <h3>Postings in <%= @category_title %>:</h3>

  <ul class="bold">
    <% @postings.each do |post| %>
      <li><a href="/postings/<%= @category_id %>/<%= post.id %>"><%= post.title %></a> - <% unless post.price.nil? %><span class="price">$<%= post.price %></span> <% end %><span class="thin">(<%= post.location %>)</span></li>
    <% end %>
  </ul>

</div>