<nav><a href="/">Categories</a> > <a href="/categories/<%= @category_id %>"><%= @category_title %></a></nav>

<div class="container">

  <% if @post %>
    <h4><%= @post.title %></h4>
    <p><%= @post.body %></p>
    <% unless @post.price.nil? %>
      <p class="small">$<%= @post.price %></p>
    <% end %>
    <p class="smaller"><%= @post.location %></p>
  <% end %>

</div>